@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Fugaz+One&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Leckerli+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s all ease;
  font-family: "JetBrains Mono";
}

body {
  overflow: hidden;
}

#app {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  background: linear-gradient(to bottom, lavender, white 50%, lavender);
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23230046' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%232f0052' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%233b075e' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2348156a' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E"); */
  background-attachment: fixed;
  background-size: cover;
}

.dz-progress {
  display: none !important;
}

.dz-error-message,
.dz-success-mark,
.dz-error-mark {
  display: none !important;
}

.dz-preview {
  background-color: transparent !important;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.bounce {
  animation: bounce 3s ease-in-out infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(0.9); /* Adjust jump height and scale */
  }
}

@keyframes out-of-sight {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-120vh);
  }
}

@keyframes into-sight {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

.my-lottie {
  position: absolute;
  opacity: 1;
  z-index: 0;
  height: 100%;
}

*::-webkit-scrollbar {
  display: none;
}
